
.word-break {
    word-break: break-all;
}

#kt_header .kt-header__top {

    background: radial-gradient(circle at 18.7% 37.8%, rgb(225, 234, 238) 20%, darkgrey 90%);

}

#kt_header .kt-header__top .kt-container {
    padding: 0 5px 0 5px;
}

.kt-header__bottom {
    margin-top: 10px;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form {

    background-color: white;
    color: black;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form .form-control {
    color: black;
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form i, .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--search .kt-quick-search .kt-quick-search__form .form-control::-webkit-input-placeholder {
    color: darkgrey;
}

.break-to-lines {
    width: min-intrinsic;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}


.container-error {
    padding: 5vh;

}

/*.table tbody tr:nth-of-type(odd) {*/
/*    background-color: rgba(0, 0, 0, .05);*/
/*}*/

/*.truncate {*/
/*    max-width: 150px !important;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.truncate:active, .truncate:focus:focus-within {*/
/*    overflow: visible;*/
/*    white-space: normal;*/
/*    word-break: break-all;*/

/*    width: auto;*/
/*}*/

/*body {*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
/*}*/

/*@media (min-width: 1399px) {*/
/*    .container {*/
/*        !*width:90% !important;*!*/
/*        max-width: 90% !important*/
/*    }*/

/*}*/


.logo-image {
    height: 60px;
}

.help-block {
    color: red !important;
}

.file-preview img {
    max-height: 100%;
    max-width: 100%;
}

.modal-body img {
    max-height: 100%;
    max-width: 100%;
    width: auto;

}

.datepicker, .datetimepicker {
    z-index: 98 !important;
}


.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-weight: 400;
    font-size: 1.05rem;
    text-transform: initial;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-weight: 400;
    font-size: 1.05rem;
    text-transform: initial
}

input, .form-control {
    border-radius: 0.25rem;
}

.btn {
    border-radius: 0.25rem;
}

.btn i {
    padding-right: .5rem;
    vertical-align: unset;
    line-height: 0;
}

.background-white {
    background: white;
}


.invisible {
    position: absolute !important;
    height: 0px !important;
    width: 0px !important;
}

.aqua-gradient {
    background: purple;
    background-image: linear-gradient(40deg, purple, orange) !important;
    background-position-x: initial !important;
    background-position-y: initial !important;
    background-size: initial !important;
    background-repeat-x: initial !important;
    background-repeat-y: initial !important;
    background-attachment: initial !important;
    background-origin: initial !important;
    background-clip: initial !important;
    background-color: initial !important;
}

.lime-border {
    border-color: #9c97da;

}


.select-table .kv-grid-table tbody tr:hover {
    background: lightgoldenrodyellow;
    color: black;


}

.select-table .kv-grid-table tbody td {
    text-align: center;


}

body {
    font-family: 'Roboto';
}

#kt_wrapper > .kt-container {
    padding: 0;
}

.select2-selection--multiple .select2-search--inline {
    width: 0.1em;

}
.select2-container--krajee-bs4 .select2-selection--multiple .select2-search--inline .select2-search__field{
    margin:0.5rem;
}

.show-graph-page .select2-container .select2-selection--multiple .select2-selection__rendered {
    white-space: normal;
    max-height: 300px;
}
.width-100{
    width:100%
}
.kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link, .kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--here>.kt-menu__link{
    background-color: #ff006c;
    border: 1px solid #ff006c;

}
.kt-header-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--here>.kt-menu__link>.kt-menu__link-text{
    color:white;
}

.kv-grid-table td{
    vertical-align: middle !important;
    height: 60px;
}
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--langs .kt-header__topbar-icon img,.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--langs .dropdown-menu .kt-nav__link-icon img{
    border-radius:0px;
}

@media (max-width: 1024px) {
    #kt_header{
        visibility: hidden;
        display: none;
    }

}