.modal {
    padding-top: 7%;
    padding-left: 15%;
    display: none;
    position: fixed;
    z-index: 200000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-content {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    background-color: #fefefe;
    width: 75%;
}

.close {
    color: #aaaaaa;
    float: right;
    width: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    td, th {
        display: block;
    }

    table {
        margin-inline: auto;
    }
    .removePhrase{
        display:none;
    }
    .modal-body {
        font-size: 15px !important;
    }
    .modal-content{
        width: 90%;
    }
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #5caa32;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #5caa32;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #5caa32;
}
