
.modal {
    padding-top: 4%;
    padding-left: 30%;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200000; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
}

/* Modal Content/Box */
.modal-content {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    background-color: #fefefe;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    width: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    td,th {
        display: block;
    }
    table{
        margin-inline: auto;
    }
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #5caa32;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #5caa32;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #5caa32;
}
