
.container-zoom {
    position: relative;
    overflow: hidden;
}
.item-zoom {
    /*position: absolute;*/
    top: 0;
    left: 0;
    -webkit-animation: zoomin 5s 1;
}
.item-zoom img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left {
    position: absolute;
    bottom: 0;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.item-zoom img{
    width:100%;
}
.container-zoom {
    height:300px;
}

@media screen and (max-width: 299px) {
    .container-zoom {
        width:100%;
        height:600px;
    }
    .item-zoom img{
        height:600px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 550px){
    .container-zoom {
        width:100%;
        height:570px;
    }
    .item-zoom img{
        height:600px;
    }
}
@media only screen and (min-width: 551px) and (max-width: 899px){
    .container-zoom {
        width:100%;
        height:600px;
    }
    .item-zoom img{
        height:800px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 2000px){
    .container-zoom {
        width:100%;
        height:850px;
    }
    .item-zoom img{
        height:900px;
    }
}

@media only screen and (min-width: 2001px) {
    .container-zoom {
        width:100%;
        height:900px;
    }
    .item-zoom img{

        height:1300px;
    }
}