body {
    background: #40434E;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.buttons {
    display: flex;
div {
    margin: 0px 10px;
    color: #FFFFFA;
    cursor: pointer;
> * {
    pointer-events: none;
}
}
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

&.list {
     grid-template-columns: 1fr;
 }

.col {
    width: calc(100% - 20px);
    height: 200px;
    background: #912F40;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFA;
    margin: 10px;
}
}
