<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tasos/OldVersion1/tests" />
        <option value="$PROJECT_DIR$/aggelos/basic/tests" />
        <option value="$PROJECT_DIR$/aggelos/GaiaPlatform/tests" />
        <option value="$PROJECT_DIR$/tasos/GaiaPlatform/tests" />
      </list>
    </option>
  </component>
</project>